# user roles that are allowed to use the taxonomy-editor
# this list implicitly grants access to users with role "root"
# available roles (by default): root, admin, developer, chief-editor, editor, guest, everyone
permissions: [ admin, developer, chief-editor ]
